body {
  font-family: "Roboto Regular";
  background-color: $lightCream;
}

.main {
  margin: 80px 0;
  text-align: center;

  @media (min-width: $medium) {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 180px 0;
  }

  &.column {
    flex-direction: column;
  }

  &.no-margin {
    margin: 0;
  }

  &.padding {
    padding: 8vw 8vw 12vw 8vw;
  }
}

.page-container {
  width: 100%;

  @media (min-width: $medium-l) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
  }
}

.label {
  &.rose {
    color: $rose;
  }
}

.link {
  text-underline-position: under;
  color: $grafit;
  padding: 5px;

  &.small {
    font-size: 12px;
  }

  &.right {
    text-align: right;
    width: 250px;
    padding-right: 5px;
  }
}

.margin {
  margin: 10px;
}

.text {
  color: $grafit;

  &.small {
    font-size: 12px;
  }

  &.bold {
    font-weight: bold;
  }
}

.heading {
  margin-top: 40px;
}
