.block {
  margin: 60px 0 0;
}

.box-wrapper {
  display: flex;
  display: column;
  margin-bottom: 60px;

  @media (min-width: $medium) {
    display: row;
    justify-content: space-between;
    width: 400px;
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.rounded-box {
  color: $white;
  background-color: $sky;
  padding: 10px;
  width: 80px;
  border-radius: 50px;
  line-height: 1.5;
}

.workout-wrap {
  margin: 20px 10vw;
}

.exercises-box-text {
  margin-bottom: 15px;
  color: $grafit;
}

.player-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.player {
  width: 100vw !important;
  height: 50vw !important;

  @media (min-width: $xsmall) {
    width: 400px !important;
    height: 250px !important;
  }
}

.active-challenge-log {
  margin: 50px 20px 100px 20px;
}

.challenge-log-wrap {
  display: flex;
  justify-content: center;
}

.challenge-log {
  margin: 0 20px;

  @media (min-width: $xsmall) {
    width: 300px;
  }

  @media (min-width: $small) {
    width: 350px;
  }
}
