.faq-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  padding: 6vw;
}

.faq {
  padding: 10px;

  &.bold {
    font-weight: bold;
  }
}
