.faq-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  padding: 3vw 3vw 7vw;
}

.faq {
  padding: 10px;

  &.bold {
    font-weight: bold;
  }

  &.extra-padding {
    padding: 10px 10px 40px 40px;
  }
}
