.login-wrapper,
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input {
  background-color: $lightgray;
  border: 1px $lightgray;
  border-radius: 50px;

  font-size: 14px;

  padding: 15px 0 15px 30px;
  margin: 3px 0;
  width: 250px;

  &.wide {
    @media (min-width: $xsmall) {
      width: 320px;
    }

    @media (min-width: $small-l) {
      width: 450px;
    }
  }

  &.darken {
    background-color: $darkgray;
  }

  &.input-date {
    text-align: left;
    color: #797575;
  }
}

.textarea {
  resize: vertical;
  border-radius: 20px;
}
