.login-wrapper,
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
  margin-top: 30px;
}

.input {
  background-color: $lightgray;
  border: 1px $lightgray;
  border-radius: 50px;

  font-size: 14px;

  padding: 15px 0 15px 30px;
  margin: 3px 0;
  padding: 15px 15px 15px 20px;
  width: 250px;

  &.wide {
    @media (min-width: $xsmall) {
      width: 320px;
    }

    @media (min-width: $small-l) {
      width: 450px;
    }
  }

  &.darken {
    background-color: $darkgray;
  }

  &.input-date {
    text-align: left;
    color: #797575;
  }
}

.textarea {
  resize: vertical;
  border-radius: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  &.left {
    align-items: flex-start;
    width: 100%;
  }
}

.form-heading {
  width: 80%;
}

.form-section-table {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form-label {
  color: $plum;
  font-weight: bold;
  margin: 10px;
  line-height: 1.5;
}

.input-search {
  width: 75%;
}

.search-wrap {
  display: block;
  position: relative;
  margin: 30px 0 20px 0;
}

.input-checkbox-switch {
  --active: #69b6b9;
  --active-inner: #fff;
  --focus: 2px #69b6b9;
  --border: #bbc1e1;
  --border-hover: #69b6b9;
  --background: #fff;
  --disabled: #f6f8ff;
  --disabled-inner: #e1e6f9;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0 0 0 5px;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  &:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  &:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  &:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
    &:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    & + label {
      cursor: not-allowed;
    }
  }
  &:hover {
    &:not(:checked) {
      &:not(:disabled) {
        --bc: var(--border-hover);
      }
    }
  }
  &:focus {
    box-shadow: 0 0 0 var(--focus);
  }

  &.switch {
    width: 38px;
    border-radius: 11px;
    &:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    &:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    &:disabled {
      &:not(:checked) {
        &:after {
          opacity: 0.6;
        }
      }
    }
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  border-radius: 50%;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: $mustard;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: "✔";
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: $mustard;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}
