.icon {
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;

  &.icon-linkedin {
    background: url(../styles/icons/linkedin-icon.svg);
    margin-right: 10px;
    height: 30px;
    width: 30px;
  }

  &.icon-email {
    background: url(../styles/icons/email-icon.svg);
    height: 25px;
    width: 30px;
    padding: 2px;
  }
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  padding: 15px 0 15px 20px;
}

.logo {
  display: flex;
  background-size: 100%;

  &.logo-full {
    background: url(../styles/icons/logo-full.svg);
    background-repeat: no-repeat;
    height: 25px;
    width: 160px;

    @media (min-width: $medium) {
      height: 35px;
      width: 200px;
    }
  }

  &.big {
    height: 35px;
    width: 200px;

    @media (min-width: $small-l) {
      height: 50px;
      width: 250px;
    }
  }
}
